import {Router, Request, Response} from 'express'
import coddyger, { IData, IErrorObject } from 'coddyger'
import { I{{pascalCase name}}, {{pascalCase name}}Set } from './';

const dao: IData<I{{pascalCase name}}> = new {{pascalCase name}}Set();

export class {{pascalCase name}}Service {
	static sampleMethod(apikey: string, controllerLabel: string) {
		return new Promise(async (resolve, reject) => {

		}).catch((err: any) => {
			return coddyger.catchReturn(err, '{{pascalCase name}}Service', 'sampleMethod');
		});
	}
}
